<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body style="background-color: burlywood;">
    <div class="container">
    <h1>Your Pizza:</h1>
    <div class="box">


    
    <p>Size: {{size}}</p>
    <p> Toppings: {{toppings}} </p>
    <p> Gluten Free Crust: {{glutencheck}}</p>
    <p>Special Instructions: {{instructions}} </p>
   

    <p>Price: {{price}}</p>

     <p>{{delivery}}</p>


    </div>
    <a href="/build">Build Another Pizza</a>
   
    <a href="/">Back to Homepage</a>
    </div>
</body>
</html>